<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OOMarkButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>002DB510192C3BDC00021EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002DB52B192C3BDC00021EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002DB54F192C4A2500021EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
